<div class="wrapper">
        <div class="topBar">
            <div id="open" class="open" onclick="openNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo"><img name="uni-konzult.png" src="images" width="100" height="40"></img></div>
            <ul class="navbar-nav">
                <li><a href="index">Home</a></li>
                <li><a href="test">Test</a></li>
                <li><a href="form">Form</a></li>
            </ul>
        </div>

        <div class="nav" id="nav">
            <div class="close" onclick="closeNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="index">Home</a>
            <a href="test">Contact Us</a>
            <a href="form">Form</a>
        </div>
    </div>